@charset "UTF-8";

p {
  display: block;
  font-family: georgia;
  line-height: 23px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.58;
  letter-spacing: -.004em;

  img {
    float: left;
    margin: 8px 20px 0 0;
  }
}
